
<ion-content class="ion-text-center">
  <div *ngIf="downloadPercentage == 0" class="cardHeader"></div>
    <img src="/assets/icon/logo.png" height="150px" width="150px">
    <ion-input (click)="openSearch()" *ngIf="downloadPercentage == 0" class="inputUrl" placeholder="Search For Song Here" [(ngModel)]="url"></ion-input>
    <ion-button (click)="verifyUrl()" *ngIf="downloadPercentage == 0" [disabled]="!url">Download</ion-button>
    <!-- <ion-card class="homeContent" *ngIf="downloadPercentage == 0">
      <ion-card-header>
        <ion-card-title>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="downloadFocus" src="/assets/icon/download-icon.svg"  width="50%">
      </ion-card-content>
    </ion-card> -->
    <ion-card *ngIf="downloadPercentage > 0">
      <ion-card-header>
        {{imgName}}
      </ion-card-header>
      <ion-card-content>
        <img [src]="imgSrc" width="100%">
      </ion-card-content>
    </ion-card>
    <!-- <ion-list>
      <ion-item button *ngFor="let track of playlist" (click)="start(track)">
        <ion-label>
          {{track.name}}
        </ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>


