.is-favourite{
    color: #e74c3c;
}

ion-card{
    --background:#232429;
    --color:#fff;
    height: 120px;
    border-radius: 10px;
    padding-top : 5px;
}

ion-card.hidden{
    display: none;
}

ion-content {
    --background:#1b1a1f;
}

.pt-12{
    padding-top : 12px;
}

.pl-8{
    padding-left : 8px;
}
