ion-button.is-favourite{
    color: #e74c3c;
}

ion-card{
    height: 120px;
    border-radius: 10px;
    padding-top : 5px;
}

.pt-12{
    padding-top : 12px;
}

.pl-8{
    padding-left : 8px;
}

ion-col .music-track-name{
    height : 14px;
    overflow: hidden;
    display : block;
    margin-top : 15px;
    
}

.action-menu-popover{
    width : 145px;
}



.btn-download{
    display: none;
    margin-top: 20px;
}

.btn-download.show{
    display: block;
}

