<ion-header class="bg-dark-black">
  <ion-toolbar class="bg-dark-black">
    <ion-buttons slot="start">
      <ion-button 
        class="btn-header mr-left"
        (click)="toggleSearchBar()">
        <ion-icon 
          name="search">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isOpen" color="light" class="ion-text-center">{{activePlaylistName}}</ion-title>
    <ion-input [ngClass]="{'hidden' : !isOpen}"
      #inputSearch
      [(ngModel)]="trackInput" 
      (ionChange)="searchTrack()" 
      placeholder="Search Track here..">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button 
        class="btn-header mr-right"
        (click)="openSortMenu()">
        <ion-icon 
          name="filter">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-black">
  <ion-button (click)="addMockMusicTrack()" hidden>Add Music Track</ion-button>
  <button 
    (click)="searchOnWeb()"
    [ngClass]="{'show':musicArray.length && !filteredMusicArray.length}" 
    class="btn-download btn-sm-hollow">
    Download {{trackInput}}
  </button>
  <ion-virtual-scroll 
    [items]="filteredMusicArray" 
    approxItemHeight="320px">
    <ion-item 
      class="bg-soft-black"
      *virtualItem="let item; let itemBounds = bounds;"
      [ngClass]="{'active':item.isFavourite, 'hidden':item.uiHideInList, 'highlight':item.uiIsPlaying}"
      (click)="playTrack(item)">
    
        <img
          class="img-thumb"
          [src]="item.thumbnail"/>
        <div class="text-holder">
          <p class="sp-track-title">{{ item.name }}</p>
          <p class="sp-track-duration">{{ item.duration*1000 | date:'mm:ss':'UTC'}}</p>
        </div>
        <ion-buttons slot="end">
          <ion-button 
            [ngClass]="{'is-favourite':item.isFavourite}" 
            (click)="toggleFavourite(item);$event.stopPropagation();">
            <ion-icon name="heart">              
            </ion-icon>
          </ion-button>
          <ion-button 
            (click)="actionMenuPopover($event,item);$event.stopPropagation();">
            <ion-icon name="ellipsis-vertical">              
            </ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-item>  
   
  </ion-virtual-scroll>
</ion-content>
