<ion-header class="bg-dark-black">
  <ion-toolbar class="bg-dark-black">
    <ion-buttons slot="start">
      <ion-button 
        class="btn-header mr-left"
        (click)="toggleSearchBar()">
        <ion-icon 
          name="search">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isOpen" color="light" class="ion-text-center">{{activePlaylistName}}</ion-title>
    <ion-input [ngClass]="{'hidden' : !isOpen}"
      #inputSearch
      [(ngModel)]="trackInput" 
      (ionChange)="searchTrack()" 
      placeholder="Search Track here..">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button 
        class="btn-header mr-right"
        (click)="openSortMenu()">
        <ion-icon 
          name="filter">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-black">
  <ion-button (click)="addMockMusicTrack()" hidden>Add Music Track</ion-button>
  <button 
    (click)="searchOnWeb()"
    [ngClass]="{'show':musicArray.length && !filteredMusicArray.length}" 
    class="btn-download btn-sm-hollow">
    Download {{trackInput}}
  </button>
  <ion-virtual-scroll 
    [items]="filteredMusicArray" 
    approxItemHeight="320px">
    <ion-card 
      *virtualItem="let item; let itemBounds = bounds;"
      [ngClass]="{'active':item.isFavourite, 'hidden':item.uiHideInList, 'highlight':item.uiIsPlaying}"
      (click)="playTrack(item)">
      <ion-row>
        <ion-col size="2">
          <ion-thumbnail>
            <ion-img 
              [src]="item.thumbnail">
            </ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="10">
          <span class="music-track-name">
            {{ item.name }}
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="4" class="pt-12">
          <ion-label> 
            Duration :  {{ item.duration*1000 | date:'mm:ss':'UTC'}} 
          </ion-label>
        </ion-col>
        <ion-col size="5" class="pt-12">
          <ion-label>
            Date :  {{ item.addedTimeStamp | date}} 
          </ion-label>
        </ion-col>
        <ion-col size="3" class="pl-8">
            <ion-buttons>
              <ion-button 
                [ngClass]="{'is-favourite':item.isFavourite}" 
                (click)="toggleFavourite(item);$event.stopPropagation();">
                <ion-icon name="heart">              
                </ion-icon>
              </ion-button>
              <ion-button 
                (click)="actionMenuPopover($event,item);$event.stopPropagation();">
                <ion-icon name="ellipsis-vertical">              
                </ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-col>
      </ion-row>
        
    </ion-card>
  </ion-virtual-scroll>
</ion-content>
