<ion-header>
  <ion-toolbar>
    <ion-input 
      [(ngModel)]="trackInput" 
      (ionChange)="searchTrack()" 
      placeholder="Search Track here..">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button 
        (click)="openSortMenu()">
        <ion-icon 
          name="filter">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button 
    (click)="addMockMusicTrack()" 
    hidden>
    Add Music Track
  </ion-button>
  
  <ion-virtual-scroll 
    [items]="filteredMusicArray" 
    approxItemHeight="320px">
    <ion-card 
      *virtualItem="let item; let itemBounds = bounds;"
      [ngClass]="{'active':item.isFavourite}">
      <ion-card-header>
        <ion-thumbnail>
          <ion-img 
            [src]="item.thumbnail">
          </ion-img>
        </ion-thumbnail>
        <ion-card-title>
          {{ item.name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label> 
          Duration :  {{ item.duration }} 
        </ion-label>
        <ion-label>
            Added Time :  {{ item.addedTimeStamp | date}} 
        </ion-label>
        <ion-buttons>
          <ion-button 
            [ngClass]="{'is-favourite':item.isFavourite}" 
            (click)="toggleFavourite(item)">
            <ion-icon name="heart">              
            </ion-icon>
          </ion-button>
          <ion-button 
          (click)="openTrackMenu()">
          <ion-icon name="ellipsis-vertical">              
          </ion-icon>
        </ion-button>
        <ion-button 
          (click)="addToPlaylist(item)">
          <ion-icon name="add">              
          </ion-icon>
        </ion-button>
        <ion-button 
          (click)="deleteFormPlaylist(item)">
          <ion-icon name="trash">              
          </ion-icon>
        </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>
