ion-toolbar{
    --background: #0f0f0f;
}
ion-icon{
    --color:#fff;
}
.btn-big-primary{
    --border-radius: 15px!important;
    width:60px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(119,90,246,0.7);
}

ion-button.btn-bg-grey{
    --background: #222 !important;
    width:40px;
    height: 40px;
    border-radius: 10px;;
    --border-radius: 10px!important;
    margin-top: 15px; 
}

ion-button.btn-bg-none{
    --background: #0f0f0f !important;
    width:40px;
    height: 40px;
    border-radius: 10px;;
    --border-radius: 10px!important;
    margin-top: 15px;
    color:#fff; 
}
ion-range{
    --padding-top:4px  !important;
    padding-top: 4px;
}

.pb-15{
    padding-bottom: 15px;;
}
.pt-20{
    padding-top: 20px;
}

.text-sm{
    font-size: 10px;
    text-align: center;
}