
ion-range{
    height: 0px;
    margin-top:20px
}

.music-title{
    display: block;
    width: 100%;
    height: 35px;
    overflow: hidden;
    padding-top:10px;
}

.sp-time{
    display: block;
    margin: auto;
    padding-top: 15px;
}

.music-title-next{
    display: block;
    width: 100%;
    height: 20px;
    overflow: hidden;
}