.alert-btn-danger{
   color: red;
}

ion-content{
   --background:#1b1a1f;
}

ion-header{
   background: #0f0f0f;
}
ion-toolbar{
   --background: #0f0f0f;
   ion-button{
       background: #26262e;
       border-radius: 15px;
       width:40px;
       height: 40px;
       color: #fff;
       line-height: 30px;
       box-shadow: 0 1px 2px rgba(0,0,0,0.8);
   }
   ion-button.mr-left{
       margin-left: 15px;
   }
   ion-button.mr-right{
       margin-right: 15px;
   }
}

.input{
    border : 1px solid grey;
    border-radius: 30px;
    width : 80%;
    margin-inline-start : 10%;
    margin-inline-end: 10%;
    color : white;
    margin-top : 10px;
    text-align : center;
  }

  .btn-add-playlist{
     width : 100%;
     text-align : center;
     margin-top : 4px;

  }

  ion-card{
   --background:#232429;
   --color:#fff;
   height: 80px;
   border-radius: 10px;
   padding-top : 5px;
}

ion-virtual-scroll{
   margin-top : -10px;
}

.card-hedaer-favourites{
   padding-bottom: 10px;
   padding-top : 4px;
}

.card-header-playlist{
   padding-bottom: 0px;
   padding-top : 4px;
}