<ion-header class="bg-dark-black">
  <ion-toolbar class="bg-dark-black">
    <ion-buttons slot="start">
      <ion-button 
        class="btn-header mr-left"
        (click)="toggleSearchBar()">
        <ion-icon 
          name="search">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isOpen" color="light" class="ion-text-center">Playlist</ion-title>
    <ion-input [ngClass]="{'hidden' : !isOpen}"
      #playlistInputSearch
      [(ngModel)]="playlistInput" 
      (ionChange)="searchPlaylist()" 
      placeholder="Search Playlist here...">
    </ion-input>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-black">
  <ion-input
    class="input" 
    [(ngModel)]="playlist" 
    placeholder="Enter Playlist To Add...">
  </ion-input>
  <div class="btn-add-playlist" >
    <ion-button
    (click)="addNewPlaylist(playlist)">
    Add New Playlist
  </ion-button>
  </div>
  
  <ion-card 
    class="bg-soft-black"
    (click)="openPlaylist(favPlaylistString)">
    <ion-card-header class="card-hedaer-favourites">
      <ion-card-title color="light">
        Favourites
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        Total Songs : {{ favouritesCount }}
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-virtual-scroll 
    [items]="filteredPlaylistArray" 
    approxItemHeight="320px">
    <ion-card 
      *virtualItem="let item; let itemBounds = bounds;"
      (click)="openPlaylist(item.name)">
      <ion-card-header class="card-header-playlist">
        <ion-row>
          <ion-col size="10">
            <ion-card-title color="light">
              {{ item.name }}
            </ion-card-title>
          </ion-col>
          <ion-col>
            <ion-buttons size="2">
              <ion-button 
                (click)="deletePlaylist(item);$event.stopPropagation();">
                <ion-icon 
                  name="trash">
                </ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          Total Songs : {{ item.count }}
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>
