
.inputUrl{
    border : 1px solid grey;
    border-radius: 30px;
    width : 80%;
    margin-inline-start : 10%;
    margin-inline-end: 10%;
    color : white;
    margin-top : 10px;
    text-align : center;
}

.inputUrl.bottom{
    bottom: 50px;
}


 ion-item{
    height: 50px;
    border-radius: 10px;
    padding-top : 5px;
}

ion-card.card-search-result{
    --background:#232429;
    --color:#fff;
    height: 80px;
    border-radius: 10px;
    padding-top : 5px;
    ion-item{
        height: 100%;
    }
}