<ion-header>
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center">Download</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input 
    [ngClass]="{hidden : isInitialLoad}"
    class="inputUrl" 
    #searchInput 
    (ionChange)="searchTerm()" 
    placeholder="Start Typing here...">
  </ion-input>
  <ion-title  *ngIf="isInitialLoad" color="light" class="ion-text-center">
    Download any of the following music
  </ion-title>


  <ion-item
    *ngFor="let sugession of suggestionArray" 
    (click)="getSearchResults(sugession)">
      {{sugession}}
  </ion-item>
  
  
  
  <ion-card
    class="card-search-result" 
    *ngFor="let searchResult of searchResultArray">
    <ion-item 
      button 
      (click)="downloadVideo(searchResult.videoId)">
      <ion-avatar 
        slot="start">
        <img [src]="searchResult.thumbnail">
      </ion-avatar>
      <ion-label>
          <h2>
            {{searchResult.title}}
          </h2>
          <p>
            {{searchResult.duration}}
          </p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>



<ion-footer >
  <ion-card [ngClass]="{'hidden':!isPreparingForDownload}">
    <p>Preparing for download...</p>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-card>
  
  <ion-card [ngClass]="{hidden : !showProgressBar}">
    <ion-card-header>
      Downloading...
    </ion-card-header>
    <ion-card-title color="light">{{imgName}}</ion-card-title>
    <ion-card-content>
      <ion-progress-bar [value]="downloadPercentage"></ion-progress-bar>
      <img [src]="imgSrc" width="100%">
    </ion-card-content>
  </ion-card>
</ion-footer>
