<super-tabs (tabChange)="OnTabChange($event)">
    <super-tabs-toolbar slot="bottom" color="dark">
        <super-tab-button>
            <ion-label color="light">ALL</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-label color="light">PLAYLISTS</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-label color="light">DOWNLOAD</ion-label>
        </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container>
        <super-tab>
            <ion-content>
                <ion-nav [root]="localMusicPage" #localMusicNav></ion-nav>
            </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
                <ion-nav [root]="playListPage"></ion-nav>
            </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
                <ion-nav [root]="searchPage"></ion-nav> 
            </ion-content>
        </super-tab>
       
    </super-tabs-container>
</super-tabs>